<div class="mat-elevation-z2 bg-white page-content" ngClass.lt-sm="sm">
    <h3 class="p-2 bor-bt">My Profile</h3>
    <form novalidate class="d-block m-3 edit-form">
        <div class="w-100 mb-3 text-center">
            <profile-avatar size="big" [gender]="profile.gender" [id]="profile.id" [avatar]="profile.avatar"></profile-avatar>
            <div class="column" style="margin:0 auto;background-color:var(--header-color);border:none;color:var(--white);">
                <label>{{profile.fullname || 'No Name Given'}}</label>
                <a (click)="onEdit('fullname')">
                    <mat-icon>edit</mat-icon>
                </a>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-around center" fxLayoutGap.gt-xs="20">
            <div class="column text-center mt-2">
                <h3>Email
                    <a (click)="onEdit('email')">
                        <mat-icon>edit</mat-icon>
                    </a>
                </h3>
                <div>{{getValue(profile.email, 'No email')}}</div>

            </div>
            <div class="column text-center mt-2">
                <h3>Secondary Contact No
                    <a (click)="onEdit('secondaryContact')">
                        <mat-icon>edit</mat-icon>
                    </a>
                </h3>
                <div>{{ profile.secondaryContact || 'No secondary contact' }}</div>

            </div>
        </div>
    </form>
    <ng-template #editDialog>
        <div class="editDialog">
            <h3 class="p-2 bor-bt">Edit {{editKey}}</h3>
            <form novalidate (submit)="submit()" #profileForm="ngForm" class="mt-2 text-center">
                <mat-form-field *ngIf="editKey === 'fullname'">
                    <mat-label>Full Name</mat-label>
                    <input matInput required minlength="1" maxlength="255" name="fullname" [(ngModel)]="copyProfile.fullname" #fullname="ngModel" pattern="[A-Za-z ]{1,255}">
                    <mat-error *ngIf="fullname.invalid && fullname.touched">Enter valid {{editKey}}</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="editKey === 'email'">
                    <mat-label>Email</mat-label>
                    <input matInput required minlength="1" maxlength="255" name="email" [(ngModel)]="copyProfile.email" #email="ngModel" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                    <mat-error *ngIf="email.invalid && email.touched">Enter valid email</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="editKey === 'address'">
                    <mat-label>Address</mat-label>
                    <input matInput required minlength="1" maxlength="255" name="address" [(ngModel)]="copyProfile.address" #address="ngModel" pattern="[A-Za-z 1-9,.]{1,255}">
                    <mat-error *ngIf="address.invalid && address.touched">Enter valid Address</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="editKey === 'secondaryContact'">
                    <mat-label>Secondary Contact</mat-label>
                    <input matInput required minlength="1" maxlength="255" name="secondaryContact" [(ngModel)]="copyProfile.secondaryContact" #secondaryContact="ngModel" pattern="[6-9]{1}[0-9]{9}">
                    <mat-error *ngIf="secondaryContact.invalid && secondaryContact.touched">Enter valid secondary contact
                    </mat-error>
                </mat-form-field>
                <p *ngIf="errorMsg" class="text-danger m-3">{{errorMsg}}</p>
                <button mat-raised-button color="primary" class="mt-2" [disabled]="profileForm.invalid || profileForm.untouched || isLoading">
          <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          <span>Update {{editKey}}</span>
        </button>
            </form>
        </div>
    </ng-template>
</div>