:host {
    display: block;
    overflow: hidden;
}

.main-content {
    display: block;
    margin-top: var(--header-height);
    position: relative;
    height: calc(100vh - var(--header-height) - 2px);
    overflow: auto;
}

.page {
    min-height: 300px;
}

.main-content.sm,
.main-content.lg {
    margin-top: calc(var(--header-height) + 40px);
    height: calc(100vh - var(--header-height) - 40px);
}

.call-maker {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 170px;
    color: var(--white);
}

.sm .call-maker {
    right: 10px;
}

.call-icon {
    font-size: 16px;
    line-height: 24px;
}