<mat-card class="mt-5">
    <div class="text-center">
        <h3 class="p-2 bor-bt">
            <span *ngIf="isForgotPassword else resetCont">FORGOT PASSWORD</span>
            <ng-template #resetCont>
                <span>RESET PASSWORD</span>
            </ng-template>
        </h3>
        <a class="d-inline-block mb-5">
            <mat-icon style="font-size:60px;width:60px;height:60px;">dialpad</mat-icon>
        </a>
        <div class="mt-3 text-center">
            <form novalidate (submit)="checkAndSendOtp()" class="text-center" *ngIf="!pinGenerated else enterPin">
                <mat-form-field>
                    <mat-label>Enter Mobile No</mat-label>
                    <span matPrefix class="d-inline-block mr-2 mb-1">+ 91 -</span>
                    <input matInput type="text" required minlength="1" maxlength="10" name="mobile" pattern="^([6-9]{1}[0-9]{9})$" [(ngModel)]="mobile" #mobileNo="ngModel" placeholder="Ex. 8056190788 ">
                    <mat-error *ngIf="mobileNo.invalid && mobileNo.touched">
                        Enter valid Mobile No
                    </mat-error>
                </mat-form-field>
                <p *ngIf="errorMsg" class="text-left text-danger">{{errorMsg}}</p>
                <button mat-raised-button color="primary" class="btn-block mt-2" [disabled]="mobileNo.invalid || mobileNo.untouched || isLoading">
          <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          <span>SEND OTP</span>
        </button>
            </form>
            <ng-template #enterPin>
                <div *ngIf="!otpVerified else setPinFlow">
                    Please enter OTP sent to your mobile to continue reset password.
                    <form novalidate (submit)="verifyOtp()" class="text-center">
                        <div style="height: 70px;width:300px;margin:0 auto;">
                            <otp-input [value]="pin" placeholder="Enter PIN" #pinTxt></otp-input>
                            <mat-error *ngIf="pin.invalid && pin.touched" class="mat-error-up">Enter valid pin</mat-error>
                        </div>
                        <p *ngIf="errorMsg" class="text-left text-danger">{{errorMsg}}</p>
                        <button mat-raised-button color="primary" class="btn-block mt-2" [disabled]="pin.invalid || pin.untouched || isLoading">
              <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              <span>SET PIN</span>
            </button>
                    </form>
                </div>
                <ng-template #setPinFlow>
                    <p>Enter New PIN to reset</p>
                    <form novalidate (submit)="setNewPin()">
                        <div style="height: 70px;width:300px;margin:0 auto;">
                            <otp-input #newPinTxt [value]="newPin" placeholder="Enter PIN"></otp-input>
                            <mat-error *ngIf="newPin.invalid && newPin.touched" class="mat-error-up">Enter valid pin</mat-error>
                        </div>
                        <div style="height: 70px;width:300px;margin:0 auto;">
                            <otp-input [value]="confirmPin" placeholder="Retype PIN"></otp-input>
                            <mat-error *ngIf="confirmPin.invalid && confirmPin.touched" class="mat-error-up">Enter valid confirm pin
                            </mat-error>
                        </div>
                        <p *ngIf="errorMsg" class="text-left text-danger">{{errorMsg}}</p>
                        <button mat-raised-button color="primary" class="btn-block" [disabled]="setPinForm.invalid || setPinForm.untouched || isLoading">
              <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              <span>SET PIN</span>
            </button>
                    </form>
                </ng-template>
            </ng-template>

        </div>
    </div>
</mat-card>